/* @font-face {
    font-family: Lato;
    src: url(..\fonts\lato\Lato-Bold.ttf) format('ttf');
    font-weight: bold;
    font-style: normal;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Lato;
}


.wrapper {
    margin: 0 auto;
    max-width: 1110px;
}

.header {
  padding-top: 58px;
  padding-bottom: 187px;
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), 
                url(../img/back_header.jpg) center center / cover;
}
    .header-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 170px;
    }
        .header-menu__logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color: #FFFFFF;
        }
            .logo-name {
                margin-left: 10px;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
            }


        .header-menu__menu {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

            .navbar-button {
                padding: 0 0.5em;
                color: #FFFFFF;
                font-family: Lato;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
            }

        .header-menu__login-form {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #FFFFFF;
        }

            .language {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
                .img-flag {
                    margin-right: 6px;
                }

                .language__butoon {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFFFFF;
                    background-color: transparent; 
                    border: 1px solid transparent;
                    cursor: pointer;
                    outline: none;
                    margin-right: 12px;
                }

                    .img-vector {
                        margin-left: 6px;
                    }

            .header-menu__login-button {
                display: flex;
                align-items: center;
                
            }
                
                .login-button {
                    background-color: transparent;
                    border-radius: 6px;
                    border: 1px solid #FFFFFF;
                    outline: none;
                    padding: 9px 25px;
                    color: #FFFFFF;
                    font-family: Lato;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    cursor: pointer;
                }


.uppercase {
    text-transform: uppercase;
}

.lato {
    font-family: lato;
}

    .header-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 600px;
        margin: 0 auto;
    }

        .header-content__heading {
            letter-spacing: 0.05em;
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 72px;
            line-height: 86px;
            color: #FFFFFF;
            margin-bottom: 35px;
        }

        .header-content__text {
            max-width: 500px;
            text-align: center;
            color: #FFFFFF;
            font-family: Lato;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 150%;
            margin-bottom: 60px;
        }

        .header-content__submit {
            background-color: #FFFFFF;
            border: 1px solid #FFFFFF;
            border-radius: 6px;
            color: #ED4C5C;
            font-family: Lato;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            padding: 17px 53px 16px 52px;
            outline: none;
            cursor: pointer;
        }